<%- include('partials/head') %>
    <%- include('partials/navbar') %>
    <h1> Random </h1>
    <h2> Result: <%= randomNum %> </h2>

    <br>

    <% if(randomNum % 2 === 0) { %>
      <h2> That's an even number </h2> 
    <% } else { %>
      <h2> That's an odd number </h2> 
    <% } %>
    <p> Using logic operators </p>

    <br>

    <h2> That's an <%= (randomNum % 2 === 0) ? 'EVEN' : 'ODD' %> number </h2>
    <p> Using ternary operator </p>

<%- include('partials/footer') %>

